---
export const partial = true;
import Partial from '@layouts/Partial.astro';
let completedCount = 0;
let total = 0;
let categoriesCount = [];
let categories = [];

try {
  categories = await (await fetch('http://localhost:3000/categories')).json();
  const todos = await (await fetch('http://localhost:3000/todos')).json();

  total = todos.length;
  completedCount = 0;
  categoriesCount = [];

  categories.forEach((category) => {
    categoriesCount[category.id] = 0;
  });

  todos.forEach((todo) => {
    categoriesCount[todo.categoryId] += 1;
    if (todo.completed) {
      completedCount += 1;
    }
  });
} catch (error) {
  console.error(error);
}


---
<Partial mode="summary">
<section>
  <div class="max-w-lg mx-auto border rounded-lg">
    <div class="bg-info flex items-center justify-between h-16 px-4 text-lg font-bold">
      <p>Category Summary</p>
      <a href="#"
      onclick="htmx.trigger('#list-container', 'list-contaienr-refresh')"
      >

        <span class="bg-slate-200 text-neutral w-18 px-3 py-1 text-sm text-center rounded-full">
          {completedCount}/{total}
        </span>
      </a>
    </div>
    <ul class="p-0 m-0 list-none">
      {
        categories.map((category) => (
          <li class="last:rounded-b-lg flex items-center justify-between h-12 px-4 py-2 mb-0 bg-white border-t">
            <span>{category.name}</span>
            <a href="#" class="inline-block w-10 text-center"
            hx-get={`./list?categoryId=${category.id}`}
            hx-target="#list-container"
            hx-swap="outerHTML"
            hx-push-url={`?categoryId=${category.id}`}
            >
            <span class="inline-block w-full px-3 py-1 text-sm text-white bg-blue-500 rounded-full">
              {categoriesCount[category.id]}
            </span></a>
          </li>
        ))
      }
    </ul>
  </div>
</section>
</Partial>