---
export const partial = true;
import Partial from '@layouts/Partial.astro';
let completedCount = 0;
let total = 0;
let categorySummary = [];
let categories = [];

try {
  categories = await (
    await fetch('http://localhost:3000/categories?order=id.asc')
  ).json();
  const todos = await (await fetch('http://localhost:3000/todos')).json();

  total = todos.length;
  completedCount = todos.filter((todo) => todo.completed).length;
  // categoriesCount = new Array(categories.length).fill(0);

  categorySummary = categories.map((category) => {
    const count = todos.filter((todo) => todo.categoryid === category.id && todo.completed).length;
    return {
      ...category,
      count,
    };
  });
} catch (error) {
  console.error(error);
}
---

<Partial mode="summary">
  <section
    hx-get="/todosx/category/summary"
    hx-trigger="todo-added from:window, todo-updated from:window"
  >
    <div class="max-w-lg mx-auto border rounded-lg">
      <div
        class="bg-info flex items-center justify-between h-16 px-4 text-lg font-bold"
      >
        <p>Category Summary</p>
        <button
          hx-get="/todosx/list"
          hx-trigger="click"
          hx-target="#list-container"
          hx-push-url="main"
        >
          <span
            class="bg-slate-200 text-neutral w-18 px-3 py-1 text-sm text-center rounded-full"
          >
            {completedCount}/{total}
          </span>
        </button>
      </div>
      <ul class="p-0 m-0 list-none">
        {
          categorySummary.map((category) => (
            <li class="last:rounded-b-lg flex items-center justify-between h-12 px-4 py-2 mb-0 bg-white border-t">
              <span>{category.name}</span>
              <a
                href="#"
                class="inline-block w-10 text-center"
                hx-get={`/todosx/list?categoryid=${category.id}`}
                hx-target="#list-container"
                hx-swap="outerHTML"
                hx-push-url={`?categoryid=${category.id}`}
              >
                <span class="inline-block w-full px-3 py-1 text-sm text-white bg-blue-500 rounded-full">
                  {category.count}
                </span>
              </a>
            </li>
          ))
        }
      </ul>
    </div>
  </section>
</Partial>
